@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
}
body {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

.my-heading {
  font-family: var(--font-inter);
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
.heading{ @apply  leading-17 md:leading-none text-[45px] text-center md:text-[90px] font-extrabold text-white}
.button {
  @apply bg-gradient-to-r from-[#CCAB64] to-[#FAECC9]
    hover:from-[#E5C98C] hover:to-[#FFF3DC] 
    text-gray-800 w-[220px] lg:px-6 py-2 rounded-full 
    transition-colors duration-300 transform 
    text-sm lg:text-base whitespace-nowrap;
}


.dot:nth-child(2)::after {
  content: 'Empire Lakeviews';
  position: absolute;
  text-align: center;
  top: 130%;
left: -150%;

}

.dot:nth-child(3)::after {
  content: '10 min';
  position: absolute;
  left: 0;
  top: 300%;
    white-space: nowrap;
    left: -100%;

}

.dot:nth-child(4)::after {
  content: '15 min';
  position: absolute;
  top: 300%;
  white-space: nowrap;
  left: -100%;
}


.dot:nth-child(5)::after {
  content: '20 min';
  position: absolute;
  top: 300%;
    white-space: nowrap;
    left: -100%;

}
.leaflet-grab {
  cursor: default !important;
}
svg{
  color: #CCAB64;
}

  @media (max-width:768px) {
    .pin-spacer{ 
    overflow:hidden  !important ;
  }

}