@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
}
body {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

.my-heading {
  font-family: var(--font-inter);
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
/* @media (max-width:500px){
  .empire img{
    bottom:-50px;
  }
  .text-1{
    top:80px
  }
  .text-2{
top: 80px;
  }
  .text-3{
    top: 150px;

  }

} */

.button {
  @apply bg-gradient-to-r from-[#CCAB64] to-[#FAECC9]
    hover:from-[#E5C98C] hover:to-[#FFF3DC] 
    text-gray-800 w-[220px] lg:px-6 py-2 rounded-full 
    transition-colors duration-300 transform 
    text-sm lg:text-base whitespace-nowrap;
}
.dot::after{
  content:'5 min';
  position:absolute;
  top:5%;
}