@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
  scrollbar-width: none; 
}

.my-heading {
  font-family: var(--font-inter);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;     
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
.heading{ @apply  leading-17 md:leading-none text-[45px] text-center md:text-[90px] font-extrabold text-white}
.button {
  @apply bg-gradient-to-r from-[#CCAB64] to-[#FAECC9]
    hover:from-[#E5C98C] hover:to-[#FFF3DC] 
    text-gray-800 w-[220px] lg:px-6 py-2 rounded-full 
    transition-colors duration-300 transform 
    text-sm lg:text-base whitespace-nowrap;
}




.dot:nth-child(3)::after {
  content: '5-10 minutes';
  position: absolute;
  left: 0;
  top: 300%;
  white-space: nowrap;
    left: -100%;
  

}

.dot:nth-child(4)::after {
  content: '15 minutes';
  position: absolute;
  top: 300%;
  white-space: nowrap;
  left: -100%;
}


.dot:nth-child(5)::after {
  content: '20 minutes';
  position: absolute;
  top: 300%;
    white-space: nowrap;
    left: -100%;

}
@media (max-width: 640px) {
  .dot:nth-child(3)::after,
  .dot:nth-child(4)::after,
  .dot:nth-child(5)::after {
    font-size: 10px; /* or smaller if needed */
  }
}

.leaflet-grab {
  cursor: default !important;
}
svg{
  color: #CCAB64;
}

  @media (max-width:768px) {
    .pin-spacer{ 
    overflow:hidden  !important ;
  }

}
.rounded-button:nth-child(1){
  border-top-left-radius:50px ;
}
.rounded-button:nth-child(2){
  border-top-right-radius: 50px;

}
.pin-spacer{
  overflow: hidden!important;
}
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {

.form-section{
  display: flex!important;
  height: auto!important;
}
.form-field{
  width: 60vw;
}
.form-heading{
  font-size: 80px!important;
}
  .container-1,
  .container-2 {
    height: 100vh;
  }
  .section-1{
    height: 200px!important;
  }
.section-2{
  align-items: start!important;
}

 
}

